.logo{
    width: 250px;
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: center;
    span{
        display: flex;
        width: 177px;
        height: 47px;
        background-color: #1a2d3f;
    }
}
.collapsed-icon{
    font-size: 30px;
    color: black;
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: -50px;
    background-color:  #1a2d3f;
    padding: 20px;
}

.collapsed-icon-close{
    font-size: 30px;
    color: black;
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin-left: -50px;
    background-color:  #1a2d3f;
}




